.div-scores {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
}

.gras {
    font-weight: 700;
}

.souligne {
    text-decoration: underline;
}

.italique {
    font-style: italic;
}

.help {
    text-align: center;
    font-size: 1.2rem;
    margin: 20px;
    cursor: help;
}

.score {
    margin: 0 10px;
    font-size: 4rem;
    font-weight: 700;
    transition: transform 0.2s ease-out;
}

.best {
    margin: 10px;
    font-weight: 0;
    font-size: 1.2rem;
}

.score:hover {
    transform: scale(1.3);
}

@media only screen and (max-device-width : 1000px) {
    .div-scores {
        margin: 5px;
    }

    .help {
        font-size: 1.2em;
        margin: 15px 0 10px;
    }

    .score {
        font-size: 3em;
    }

    .best {
        font-size: 1em;
    }
}